

.hidden {
    display: none;
}

.help {
    cursor: help;
}

body {
    background: #eee;
    color: #000;
    transition: all .3s;
}

a {
    color: inherit;
}

td, th {
    transition: background .3s;
}

td.true {
    background: green;
    color: #fff;
}

td.false {
    background: #c00;
    color: #fff;
}